.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 132, 209);
}
.calculatrice{
  padding: 20px;
  border-radius: 10px;
  background-color: white;

}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(20, 2, 37);
  margin: 2px;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
}
 form .resultat{
  display: flex;
  justify-content: flex-end;
  margin: 5px;

}
form .resultat input{
  text-align: right;
   flex: 1;
   font-size: 30px;
   padding:5px 10px;
  
}
form input.egal{
  width: 120px;

}